// Custom build settings for ARTbeat iOS app
EXCLUDED_ARCHS_iphonesimulator = arm64 i386
ONLY_ACTIVE_ARCH = YES
ENABLE_BITCODE = NO
IPHONEOS_DEPLOYMENT_TARGET = 15.0
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
CLANG_CXX_LANGUAGE_STANDARD = c++14
GCC_OPTIMIZATION_LEVEL = s
ARCHS = arm64
GCC_PREPROCESSOR_DEFINITIONS = GRPC_ARES=0
OTHER_CFLAGS = -Wno-comma -Wno-shorten-64-to-32
